.logo {
  width: 150px;
  height: auto;
}
.nav {
  display: flex;
  justify-content: space-around; /* Espaçamento igual entre os itens */
  align-items: center; /* Alinha verticalmente */
  padding: 10px 20px;
}
